/*Body ---------------------------------------------------------*/
/*Geral*/
body {
    background-color: #eeede9;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
/*Texto*/
.text {
    padding: 10px;
}
/*Colors*/
.cor1 { color: #bc6c25;}
.cor2 {color: #606c38;}
.cor3 {color: #283618;}
.cor4 {color: #dda15e;}

/*Cabeçalho ---------------------------------------------------------*/
/*Geral*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #283618;
    padding: 0 30px;
    height: 90px;
}
/*Logo*/
header img{
    height: 40px;
    width: auto;
}
/*Menu*/
.menu {
    display: flex;
    gap: 20px;
}
.menu a{
    color: #eeede9;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}
.menu a:hover {
    text-decoration: underline;
}

/*Panner de Promoção ---------------------------------------------------------*/
/*Geral*/
.panner_promo img{
    width: 98%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 8px;
    margin: 15px auto;
}

/*Panner de Local ---------------------------------------------------------*/
/*Geral*/
.panner_local {
    position: relative;
}
.panner_local img{
    width: 98%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 8px;
    margin: 15px auto;
}
/*Formulário*/
.panner_local form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 10px;
}
/*Barra de Pesquisa*/
.barra_pesquisa {
    background-color: #eeede9;
    color: #283618;
    padding: 12px 25px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    width: 350px;
}
/*Botão da Barra de Pesquisa*/
.panner_local button {
    background-color: #bc6c25;
    color: #eeede9;
    border: none;
    padding: 12px 18px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}
.panner_local button:hover {
    background-color: #283618;
}

/*Cards de Mensalidade ---------------------------------------------------------*/
/*Geral*/
.mensalidades {
    display: flex;
    gap: 40px;
    margin: 40px 20px;
    justify-content: center;
}
.card, .cardp {
    width: 250px;
    height: 335px;
    padding: 10px;
    border-radius: 8px;
    border: #283618;
}
.cardp {
    background-color: #606c38;
}
.card {
    background-color: #bc6c25;
}
.card h2, .card p, .card h5, .cardp h2, .cardp p, .cardp h5 {
    color: #eeede9;
    margin: 4px 0;
    text-align: left;
}
.card .valor, .cardp .valor {
    color: #eeede9;
    margin: 4px 0;
    text-align: center;
}
.preco, .periodo {
    display: flex;
    align-items: center;
    gap: 6px;
}
.preco {
    justify-content: center;
}
.buttonp, .buttonc {
    color: #eeede9;
    border: none;
    padding: 12px 18px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;     
    margin-top: 10px;
}
.buttonp {
    background-color: #283618;
}
.buttonc {
    background-color: #dda15e;
}
.buttonp:hover {
    background-color: #bc6c25;
}
.buttonc:hover {
    background-color: #606c38;
}

/*Footer ---------------------------------------------------------*/
/*Geral*/
footer{
    background-color: #283618;
    color: #eeede9;
    font-size: 12px;
    padding: 20px;
}
hr {
    width: 70%;
    height: auto;
    color: #eeede9;
}
.logo_footer img{
    height: 85px;
    width: auto;
    padding: 20px;
}
.redes_sociais img {
    height: 45px;
    width: auto;
}
.redes_sociais {
    display: flex;
    gap: 2px;
    justify-content: center;
    outline: none;
}

/*Página de Academia---------------------------------------------------------*/
/*Cards Esportivos*/
.titulos_esportivos {
    max-width: 1100px;
    margin: 0 auto;
    text-align: left;
}

/*Cards Musculação, Cross-Fit, Pilates, Yoga, Dança, Escalada ---------------------------------------------------------*/
.card_musculacao, .card_danca {
    background-color: #606c38;
}
.card_crossfit, .card_escalada {
    background-color: #bc6c25;
}
.card_pilates {
    background-color: #283618;
}
.card_yoga {
    background-color: #dda15e;
}
.musculacao, .pilates, .crossfit, .yoga, .danca, .escalada{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: flex-start;
    max-width: 1100px; 
    margin: 0 auto;
}
.card_musculacao, .card_pilates, .card_crossfit, .card_yoga, .card_danca, .card_escalada{
    width: 220px;
    height: 300px;
    padding: 10px;
    border-radius: 8px;
    color: #eeede9;
}
.card_musculacao img, .card_pilates img, .card_crossfit img, .card_yoga img, .card_danca img, .card_escalada img{
    width: 220px;
    height: 220px;
    border-radius: 5px;
    object-fit: cover;
}
.card_musculacao h3, .card_musculacao p, .card_pilates h3, .card_pilates p, .card_crossfit h3, .card_crossfit p, .card_yoga h3, .card_yoga p, 
.card_danca h3, .card_danca p, .card_escalada h3, .card_escalada p{
    margin: 4px 0;
}

/*Página de Saúde & Bem-Estar---------------------------------------------------------*/
.alimentacao, .motivacao {
    background-color: #bc6c25;
}
.agua {
    background-color: #283618;
}
.sono {
    background-color: #606c38;
}
.mental {
    background-color: #dda15e;
}
.texto_alimentacao, .texto_sono, .texto_motivacao {
    text-align: left;
    flex: 1;
}
.texto_agua, .texto_mental {
    text-align: right;
    flex: 1;
}
.saude {
    max-width: 1100px;
    margin: 0 auto;
    text-align: left;
}
.alimentacao , .agua, .sono, .mental, .motivacao {
    display: flex;
    align-items: center;  
    gap: 40px;
    width: 1100px;
    height: 300px;
    padding: 10px;
    border-radius: 8px;
    color: #eeede9;
}
.alimentacao img, .agua img, .sono img, .mental img, .motivacao img{
    width: 220px;
    height: 220px;
    border-radius: 5px;
    object-fit: cover;
    padding: 20px;
}

/*Página de Saúde & Bem-Estar---------------------------------------------------------*/
form {
    width: 350px;
    padding: 20px;
    border-radius: 8px;
    background-color: #606c38;
    color: #eeede9;
    margin: 4px auto;
    text-align: left;
    margin-bottom: 60px;
}

.enquadrar {
    width: 300px;
    padding: 10px;
}

#nome, #telefone, #cidade, #produto, #quantidade, #mensagem {
    background-color: #eeede9;
    color: #283618;
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 8px;
    margin-top: 10px;   
}
.botoes {
    display: flex;
    gap: 10px;
}
#enviar, #apagar {
    flex: 1;
    color: #eeede9;
    border: none;
    padding: 12px 18px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    width: 50%;     
    margin-top: 10px;
}
#enviar {
    background-color: #283618;
}
#apagar {
    background-color: #c1121f;
}
#enviar:hover {
    background-color: #a3b18a;
}
#apagar:hover {
    background-color: #ad2831;
}